# Database URL para conexión local o remota
DATABASE_URL="postgresql://power_user:power_password_2026@localhost:5434/power_nutri_app?schema=public"

# Secreto para firmado de tokens JWT
JWT_SECRET=super_secret_power_nutri_2026
